# Virtual Environment
epublishing/
venv/
.venv/
env/
.env

# Dependencies


# Output and Temp Files
reports/
temp_render/
__pycache__/
*.pyc
*.pyo
*.pyd

# User Data
input/

# IDE
.vscode/
.idea/
.DS_Store

# files
*.epub

# folders
pragmatic-programming/